<header>
    <div>
        <h1 class="title">Home</h1>
    </div>
</header>

<div class="generalContainer">
    <section class="containerHome">
        <div>
            <button id="getIntoEcommerce">Ingresar al ecommerce</button>
        </div>
    </section>
    <section class="containerProducts">
        <div class="containerCardHome">
            {{#if filterProducts}}
                {{#each filterProducts.docs}}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{price.currency}} {{price.monetaryValue}}</li>
                        <li class="list-group-item">{{stock}}</li>
                        <li class="list-group-item">{{category}}</li>
                    </ul>
                    <div class="card-body">
                        <span>Codigo de producto: {{_id}}</span>
                    </div>
                    <div class="buttonsCard">
                        <button data-id={{this._id}} class="addToCart">Agregar al carrito</button>
                        <button data-id={{this._id}} class="viewProduct">Ver detalles</button>
                    </div>
                </div>
                {{/each}}
                <div>
                    <p>Pagina {{filterProducts.page}} de {{filterProducts.totalPages}}</p>

                    {{#if filterProducts.hasPrevPage}}
                    <a href="/?query={{query}}&page={{filterProducts.prevPage}}&limit={{limit}}&sort={{sort}}">Anterior</a>
                    {{/if}}

                    {{#if filterProducts.hasNextPage}}
                    <a href="/?query={{query}}&page={{filterProducts.nextPage}}&limit={{limit}}&sort={{sort}}">Siguiente</a>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </section>
</div>

<script src="js/home.js"></script>